@* @model IEnumerable<LecCRRUD.Models.Entities.Person> *@
@model IEnumerable<Person>
@* @model [i missed something that we were supposed to replace the above with]  *@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var person in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@person.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@person.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@person.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
